xmlExercisesFiles/xmlschema/easy-complex1/solution.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.fi.muni.cz/~bar"
    xmlns="http://www.fi.muni.cz/~bar"
    elementFormDefault="qualified">
        <xsd:element name="person" type="persontype"/>
        <xsd:complexType name="persontype">
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="sname" type="xsd:string"/>
                <xsd:element name="age" type="xsd:integer"/>
            </xsd:sequence>
        </xsd:complexType>

</xsd:schema>